force-app/main/default/flows/Assign_CPI_Fields_from_Contract_to_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Fix_invalid_CPI_data</name>
        <label>Fix invalid CPI data</label>
        <locationX>501</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_CPI_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Good Data</defaultConnectorLabel>
        <rules>
            <name>Bad_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContractCPIFields.Apply_Standard_CPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarContractCPIFields.Use_Existing_CPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarContractCPIFields.No_CPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Values</targetReference>
            </connector>
            <label>Bad Data</label>
        </rules>
    </decisions>
    <description>RUBIXATG SoT</description>
    <interviewLabel>Assign CPI Fields from Contract to Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign CPI Fields from Contract to Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>These 2 fields are missing:
Standard_Index__c
Additional_Increase__c
RubixATG SoT</description>
        <name>Lookup_CPI_Fields_From_Contract</name>
        <label>Lookup CPI Fields From Contract</label>
        <locationX>286</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fix_invalid_CPI_data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarContractId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>VarContractCPIFields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apply_Standard_CPI__c</queriedFields>
        <queriedFields>CPI__c</queriedFields>
        <queriedFields>CPI_Index_Type__c</queriedFields>
        <queriedFields>Maximum_Rate__c</queriedFields>
        <queriedFields>Minimum_Rate__c</queriedFields>
        <queriedFields>No_CPI__c</queriedFields>
        <queriedFields>Use_Existing_CPI__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>511</locationX>
        <locationY>333</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Increase__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apply_Standard_CPI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPI_Index_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPI__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_CPI__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Index__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Existing_CPI__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_CPI_Fields</name>
        <label>Update Quote CPI Fields</label>
        <locationX>751</locationX>
        <locationY>146</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apply_Standard_CPI__c</field>
            <value>
                <elementReference>VarContractCPIFields.Apply_Standard_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPI_Index_Type__c</field>
            <value>
                <elementReference>VarContractCPIFields.CPI_Index_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPI__c</field>
            <value>
                <elementReference>VarContractCPIFields.CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Rate__c</field>
            <value>
                <elementReference>VarContractCPIFields.Maximum_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Rate__c</field>
            <value>
                <elementReference>VarContractCPIFields.Minimum_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_CPI__c</field>
            <value>
                <elementReference>VarContractCPIFields.No_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Standard_Index__c</field>
            <value>
                <elementReference>VarContractCPIFields.Use_Existing_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>94</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Lookup_CPI_Fields_From_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarContractCPIFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>VarContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
