force-app/main/default/flows/Populate_Renewal_Quote_Fields_From_Original_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Does_Original_CPQ_Quote_Exist_on_Contract</name>
        <label>Does Original CPQ Quote Exist on Contract?</label>
        <locationX>351</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Quote_Fields_from_Quote_related_to_Contract</targetReference>
            </connector>
            <label>Yes Quote Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Populate Renewal Quote Fields From Original Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Renewal Quote Fields From Original Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Original_Quote_Fields_from_Quote_related_to_Contract</name>
        <label>Get Original Quote Fields from Quote related to Contract</label>
        <locationX>628</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Renewal_Quote_Fields_from_Original_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>varOriginalQuoteFields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bill_to_Contact__c</queriedFields>
        <queriedFields>SBQQ__PrimaryContact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Original_Contract</name>
        <label>Lookup Original Contract</label>
        <locationX>203</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Original_CPQ_Quote_Exist_on_Contract</targetReference>
        </connector>
        <filters>
            <field>SBQQ__RenewalOpportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalOppID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>varContractID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuoteID</assignToReference>
            <field>SBQQ__Quote__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_Quote_Fields_from_Original_Quote</name>
        <label>Update Renewal Quote Fields from Original Quote</label>
        <locationX>838</locationX>
        <locationY>204</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_to_Contact__c</field>
            <value>
                <elementReference>varOriginalQuoteFields.Bill_to_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>varOriginalQuoteFields.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Original_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOriginalQuoteFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRenewalOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRenewalQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
