force-app/main/default/flows/Populate_Renewal_Opportunity_Fields_From_Original_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Populate Renewal Opportunity Fields From Original Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Renewal Opportunity Fields From Original Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Original_Opportunity_Fields</name>
        <label>Get Original Opportunity Fields</label>
        <locationX>290</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Renewal_Opportunity_Fields_from_Original_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOriginalOpportunityFields</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Deal_Category__c</queriedFields>
        <queriedFields>MainProduct__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewal_Opportunity_Fields_from_Original_Opportunity</name>
        <label>Update Renewal Opportunity Fields from Original Opportunity</label>
        <locationX>536</locationX>
        <locationY>103</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Category__c</field>
            <value>
                <stringValue>Contains some element of existing rev (RLF/ACV)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainProduct__c</field>
            <value>
                <elementReference>varOriginalOpportunityFields.MainProduct__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4. Develop</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Original_Opportunity_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varOriginalOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOriginalOpportunityFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varRenewalOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
